@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	text-transform: capitalize;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth
}

:root {
	/* Colors */
	--bg-color: #e7eafb;
	--primary: #01a29c;
	--hover: #008170;

	/* Fonts */
	--h1-font: 2.2rem ;
	--h2-font: 1.1rem;
	--p-font: 0.9rem ;
	--spacing: 1px;

	/* Margins */
	--m-1: 0.4rem;
	--m-4: 2rem;
}

html {
	background: #1c2834 /*#fff*/;
	color: #fff;
}


header {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--bg-color);
	padding: 18px 85px;
	box-shadow: 0 0.5rem 50rem rgba(0, 0, 0, 0.1);

}

.logo {
	text-transform: uppercase;
	font-size: 1.4rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: var(--primary);
}

.header-icons {

	font-size: 1.26rem;
	color: #8c9195;
}

.navbar {
	display: flex;
}

.navbar a {
	font-size: 1rem;
	padding: 10px 20px;
	color: /*#222435*/ #8c9195;
	font-weight: 500;
}

header .navbar a:hover{
	background: var(--primary) /*#1c2834*/;
	color: #fff;
}

#menu-icon {
	font-size: 1.65rem;
	cursor: pointer;
	display: none;
	
}

section {
	padding: 50px 85px;
}

.home {
	position: relative;
	width: 100%;

	min-height: 100vh;
	color: #222435;
	display: flex;
	align-items: center;	
	
	background: url(img/rex-way-cylcICfV7Bs-unsplash.jpg) no-repeat;
	background-color: #fff;
    background-size: 91% 99.9%;
    background-position: center;

    
}

.home-image {

}

.home-text {
	max-width: 450px;
}

.home-text h1 {
	font-size: var(--h1-font);
	letter-spacing: var(--spacing);
}
@media (max-width: 768px) {
	#menu-icon {
		display: initial;
		color: #222435;
	}

	header .navbar {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		text-align: center;
		background: var(--bg-color);
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		transition: 0.6s ease;
	}

	header .navbar.active {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}

	.navbar a {
		margin: 1rem;
		padding: 1.5rem;
		display: block;
		background: #fff;
		border-left: 4px solid #222435;
	}
}


