@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	text-transform: capitalize;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth
}

body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background: #2c3e50;
}

body::-webkit-scrollbar-thumb {
	background: var(--primary);
}

:root {
	/* Colors */
	--bg-color: #e7eafb;
	--primary: #01a29c;
	--hover: #008170;

	/* Fonts */
	--h1-font: 2.2rem ;
	--h2-font: 1.1rem;
	--p-font: 0.9rem ;
	--spacing: 1px;

	/* Margins */
	--m-1: 0.4rem;
	--m-4: 2rem;
}

html {
	background: #1c2834 /*#fff*/;
	color: #fff;
}


header {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--bg-color) /*#272a37*/;
	padding: 4px 67px;
	box-shadow: 0 0.5rem 50rem rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid #8f9499;

}

.logo {
	/*text-transform: uppercase;*/
	font-size: 2.4rem;
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Style Script', cursive;
	//font-weight: 600;
	color: /*var(--primary)*/ #222435;
}

.header-icons {

	font-size: 1.3rem;
	color: /*#4ac959*/ #8c9195 ;
}

.navbar {
	display: flex;
}

.navbar a {
	font-size: 1rem;
	padding: 10px 20px;
	color: #222435 /*#8c9195*/;
	font-weight: 500;
}

header .navbar a:hover{
	background: var(--primary) /*#1c2834*/;
	color: #fff;
}

#menu-icon {
	font-size: 1.65rem;
	cursor: pointer;
	display: none;
	
}

section {
	padding: 45px 85px;
}

.home {
	position: relative;
	width: 100%;

	min-height: 100vh;
	color: #222435;
	display: flex;
	align-items: center;	
	
	background: url(img/rex-way-cylcICfV7Bs-unsplash.jpg) no-repeat;
	background-color: #fff;
    background-size: 91% 99.9%;
    background-position: center;
    
}

.home-text {
	max-width: 450px;
}

.home-text h1 {
	font-size: var(--h1-font);
	letter-spacing: var(--spacing);
}

.home-text span {
	color: var(--primary);
}

.home-text h2 {
	font-size: var(--h2-font);
	margin: var(--m-1) 0;
	letter-spacing: var(--spacing);
}

.home-text p {
	font-size: var(--p-font);
	margin-bottom: var(--m-4);
	line-height: 22px;
	max-width: 74%;
}

.btn {
	padding: 10px 22px;
	background: var(--primary);
	color: #fff;
}

.btn:hover {
	background: var(--hover);
}

.about {
	width: 100%;
	min-height: 84vh;
	display: flex;
	align-items: center:
	justify-content: space-between;
}

.about-img {
	width: 500px;
	height: 460px;
}

.about-img img {
    width: 300px;
    height: 450px;
    /*width:100%;*/
    /*height: 100%;*/
    border: 4px solid #8c9195;
    /*object-fit: contain;*/
    /*object-position: ;*/
    margin-left: 85px;
}

.about-text {
	max-width: 500px;
}

.about-text h2 {
    font-size: var(--h2-font);
    color: var(--primary);
}

.about-text h1 {
	font-size: var(--h1-font);
	font-weight: 600;
}

.about-text p {
	font-size: var(--p-font);
	margin: 1rem 0 var(--m-4);
	text-align: justify;
	font-weight: 300;
}

.about-btn {
	padding: 10px 22px;
	background: transparent;
	color: var(--primary);
	border: 1px solid var(--primary) ;
}

.products {
	width: 100%;
	min-height: 100vh;
	background: var(--bg-color) /*#272a37*/;;
	color: #222435;
}

.heading {
	display: flex;
	justify-content: center;
	padding: 1.4rem 0;
	margin-top: -23px;
}

.heading h1 {
	font-size: var(--h1-font);
	font-weight: 600;
	border-bottom: 2px solid var(--primary);
}

.products-content {
	display: flex;
	flex-direction: row;
	/*align-items: center;*/
	justify-content: space-around;
	padding: 20px;
}

.products-bars {
	background: #1c2834;
	color: #fff;
	max-width: 320px;
	padding: 8px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-radius: 5px;
}

.products-text h2 {
	font-weight: 600;
	text-align: center;
	margin: 1rem 0;
	/*background: #272a37;*/
	/*color: #8c9195 ;*/
}

.products-text p {
	font-size: var(--p-font);
	margin: 1rem 0;
}

.products-img {
    margin-top: 1.6rem;
    margin: auto;
}

.products-img img {
	height: 300px;
	width: 200px;
	/*object-fit: contain;*/
	/*object-position: center;*/
}

.location {	   
	width: 100%;
	min-height: 100vh;

}

.location-img {
    /*max-height:200px;*/
    overflow:hidden;
}

.location-img img {
	position: relative;
	width: 47%;
	height: 47%;	
	float: right;	
    top: 50%;
    transform: translateY(-30%);
    border-radius: 2px solid var(--primary);

}


@media (max-width: 768px) {
	#menu-icon {
		display: initial;
		color: #222435;
	}

	header .navbar {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		text-align: center;
		background: var(--bg-color);
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		transition: 0.6s ease;
	}

	header .navbar.active {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}

	.navbar a {
		margin: 1rem;
		padding: 1.5rem;
		display: block;
		background: #fff;
		border-left: 4px solid #222435;
	}
}


